*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* background: rgb(221, 177, 221);
background: linear-gradient(90deg, rgba(201, 168, 200, 0.889) 0%, rgba(150, 192, 197, 0.833) 100%); */
}

/* #navbar{
    background-color: rgb(132, 199, 233);
  
} */
#navbar a{
    color:rgb(141, 13, 103);font-weight: 900"
}
#navbar a:hover{
    color: coral;
}

.abt ul{
    list-style-type: none;
}

.carousel-inner{
    width: 100%;
    height: 100vh;
}


#main{
    margin-top: 50px;
}
.tourism .img1 img{
    float: left;
    width: 400px;
    height: 360px;
    margin-right: 10px;
    margin-left: 10px;
}
.img1 img:hover{
    transform: scale(1.1);
}

.card-group{
    margin: 10px;
}
.card{
    margin: 10px;
}
.card img{
    width: 373px;
    height: 160px;

}
.card img:hover{
    transform: scale(1.1);
}
.cardbody h5{
    text-align: center;
}
.card-footer{
   text-align: center;
}

.gal1 img{
    width: 300px;
    height: 300px;
    margin: 10px;
}
.gal1 img:hover{
    transform: skew(-30deg);
}
.gal2 img{
    width: 420px;
    height: 900px;
    margin: 15px;
    margin-top: 50px;
    transition: width 3s ease;
    
}
.gal2 img:hover{
    width:430px;
    height: 910px;
    transform: scale(1.1);
}
.gal3 img{
    width: 300px;
    height: 300px;
    margin: 15px;
}
.gal3 img:hover{
    transform: rotateX(20deg);
}
#gallery{
    display: flex;
    justify-content: space-evenly;
}

/* about */
#about{
    margin: 30px;
     text-align: justify;
    }

    #table{
        margin: 10px;
        /* color:azure; */
        font-weight: 900;
       
    }
